<?xml version="1.0"?>
<launch>

    <!-- Argumentos del archivo launch-->
    <arg name="launch_rviz" default="true"/> 
    <arg name="gazebo_world" default="$(find robot_bringup)/worlds/nave_v1_empty.world"/>
    <arg name="default_map" default="nave_v1_empty_map/nave_v1_empty_map.yaml"/>
    <arg name="default_arm_model" default="base"/>
    <arg name="default_gripper_model" default="egh"/>
    <arg name="default_xacro" default="rbkairos_$(arg default_arm_model).urdf.xacro"/>
    <arg name="omni_drive" value="true"/>
    <arg name="load_arm_kinematics_file" default="false"/>
    <arg name="debug" default="false"/>
    
    <!-- Argumentos generales y nodos a ejecutar -->
    <arg name="id_robot" default="robot"/>
    <arg name="launch_robot" default="true"/>
    <arg name="xacro_robot" default="$(arg default_xacro)"/>
    <arg name="map_file" default="$(arg default_map)"/>
    <arg name="localization_robot" default="false"/> 
    <arg name="gmapping_robot" default="false"/>
    <arg name="move_base_robot" default="true"/>
    <arg name="movebase_local_planner" default="teb"/>  <!-- teb, eband, dwa -->
    <arg name="amcl_and_mapserver" default="true"/>
    <arg name="launch_pad" default="false"/>
    

    <!-- Inicialización de la pose del robot -->
    <arg name="x_init_pose_robot" default="0" />
    <arg name="y_init_pose_robot" default="0" />
    <arg name="z_init_pose_robot" default="0" />
    <arg name="yaw_init_pose_robot" default="0" />

    <!-- Brazo UR -->
    <arg name="launch_arm" default="true"/>
    <arg name="arm_model" default="$(arg default_arm_model)"/>
    <arg name="moveit_movegroup" default="false"/>

    <!-- Pinza del brazo UR -->
    <arg name="launch_gripper" default="false"/>
    <arg name="gripper_model" default="$(arg default_gripper_model)"/>




    <include if="$(arg launch_robot)" file="$(find robot_bringup)/launch/robot.launch">
        <arg name="id_robot" value="$(arg id_robot)"/>
        <arg name="x_init_pose" value="$(arg x_init_pose_robot)"/>
        <arg name="y_init_pose" value="$(arg y_init_pose_robot)"/>
        <arg name="z_init_pose" value="$(arg z_init_pose_robot)"/>
        <arg name="yaw_init_pose" value="$(arg yaw_init_pose_robot)"/>
        <arg name="xacro_robot" value="$(arg xacro_robot)"/>
        <arg name="launch_robot_localization" value="$(arg localization_robot)"/>
        <arg name="launch_amcl_and_mapserver" value="$(arg amcl_and_mapserver)"/>
        <arg name="launch_gmapping" value="$(arg gmapping_robot)"/>
        <arg name="map_file" value="$(arg map_file)"/>
        <arg name="launch_move_base" value="$(arg move_base_robot)"/>
        <arg name="movebase_local_planner" value="$(arg movebase_local_planner)"/>
        <arg name="launch_arm" value="$(arg launch_arm)"/>
        <arg name="arm_model" value="$(arg arm_model)"/>
        <arg name="launch_move_group" value="$(arg moveit_movegroup)"/>
        <arg name="launch_pad" value="$(arg launch_pad)"/>
        <arg name="launch_gripper" value="$(arg launch_gripper)"/>
        <arg name="gripper_model" value="$(arg gripper_model)"/>
        <arg name="load_arm_kinematics_file" value="$(arg load_arm_kinematics_file)"/>

    </include>

    <include file="$(find robot_bringup)/launch/gazebo_rviz.launch">
        <arg name="launch_rviz" value="$(arg launch_rviz)"/>
        <arg name="world" value="$(arg gazebo_world)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

</launch>
